common
**/*.DS_Store
**/*.ipynb_checkpoints/
**/__pycache__
out/
venv/

data/Output Segmentation/*
data/superpixels/*.pkl
data/*.pkl
data/superpixels/*.zip
PATH/

/introduction_to_creating_superpixel.ipynb


